<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADD PASSWORD TO WALLET</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
<!--
    <form th:action="@{'/login/' + ${user.id} + '/processSavedPassword'}" th:object="${password}" method="post">
        <label for="login">Login</label>
        <input type="text" th:field="*{login}" id="login" placeholder="Name"><br/>

        <label for="password">Password</label>
        <input type="text" th:field="*{passwordWeb}" id="password" placeholder="Password"><br/>

        <label for="webAddress">Web address</label>
        <input type="text" th:field="*{webAddress}" id="webAddress" placeholder="Web address"><br/>

        <label for="description">Description</label>
        <input type="text" th:field="*{description}" id="description" placeholder="Description"><br/>

        <input type="submit" value="Add Password"><br/><br/>

    </form>
-->

    <div class="container text-center">
        <div>
            <h1>ADD PASSWORD TO WALLET</h1>
        </div>
        <div>
            <form th:action="@{'/login/' + ${user.id} + '/' + ${passId} +'/edit'}" th:object="${password}" method="post">
                <div class="mt-5">
                    <input type="hidden" th:field="*{id}" id="id"><br/>
                    <div class="form-group row">
                        <label class="col-4">LOGIN</label>
                        <div class="col-6">
                            <input type="text"  class="form-control" th:field="*{login}" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4">PASSWORD</label>
                        <div class="col-6">
                            <input type="password" class="form-control" th:field="*{passwordWeb}" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4">WEB ADDRESS(WWW)</label>
                        <div class="col-6">
                            <input type="text" class="form-control" th:field="*{webAddress}" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4">SHORT DESCRIPTION</label>
                        <div class="col-6">
                            <input type="text" class="form-control" th:field="*{description}" required>
                        </div>
                    </div>


                    <div>
                        <button type="submit" class="btn btn-primary">ADD PASSWORD TO WALLET</button>
                    </div>

                </div>
            </form>


        </div>

    </div>
</body>
</html>
