<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>USER ACTIONS HISTORY</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">

</head>
<body>
<div class="text-center">


    <a class="btn btn-light m-2" th:href="@{'/login/' + ${user.id}}">Go back to main page</a><br/>
</div>
<table class="table mt-3">

    <thead>
    <tr>

        <th scope="col">Login</th>
        <th scope="col">Password</th>
        <th  scope="col">Web address</th>
        <th  scope="col">Description</th>
        <th  scope="col">Time of change</th>
        <th  scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="passwordhistory : ${historyList}">
        <td th:text="${passwordhistory.oldLogin}"></td>
        <td th:text="${passwordhistory.oldPass}"></td>
        <td th:text="${passwordhistory.oldDescription}"></td>
        <td th:text="${passwordhistory.oldWebAddress}"></td>
        <td th:text="${#temporals.format(passwordhistory.time, 'yyyy-MM-dd HH:mm:ss')}"></td>

        <td>
            <a class="btn btn-dark" th:href="@{'/login/' + ${user.id} + '/' + ${password_id} + '/history/' + ${passwordhistory.id} + '/goback'}">Restore old</a>
        </td>
    </tr>

    </tbody>
</table>
</body>
</html>