<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">

</head>
<body>

<div class="container text-center">
    <div>
        <h1>SHARE YOUR PASSWORD</h1>
    </div>
    <div>
        <form th:action="@{'/login/' + ${userOwner} + '/' + ${userOwnerPass} + '/share-password'}" th:object="${user}" method="post" >
            <div class="mt-5">
                <h4   class="m-4 text-danger" th:if="${error}">NO SUCH A USER!</h4>
                <h4   class="m-4 text-danger" th:if="${error2}">YOU ALREADY SHARED THIS PASSWORD WITH USER!</h4>

                <div class="form-group row">
                    <label class="col-4">LOGIN</label>
                    <div class="col-6">
                        <input type="text"  class="form-control" th:field="*{login}" required>
                    </div>
                </div>

                    <button type="submit" class="btn btn-primary">SHARE PASSWORD</button>
                </div>


        </form>

    </div>

</div>
</body>
</html>